* {
    background-color: rgb(86, 134, 134);
    color: white;
}

.centeredTitle {
    Float: left;
    width: 100%;
    text-align: center;
    list-style-position: center;
}

.infoLevel1 {
    float: left;
    width: 40%;
    padding: 5%;
}

.infoLevel2 {
    float: left;
    width: 25%;
    padding: 4%
}

#photoBorder {
    border-radius: 25%;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 5px 10px;
}